<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
    <meta charset="utf-8">
    <title>Ahihi!!!</title>
  </head>
  <body style='text-align: center'>
    <h1>Trồng thủy canh</h1>

    <p>Ph Pump</p>
    <button class="btn btn-default" type="button" id="pin1-on">On</button>
    <button class="btn btn-default" type="button" id="pin1-off">Off</button>
    <%console.log(data[0].value)%>
    <%if(data[0].value==='pin1on'){%>
        <p id='pin1'>Ph pump is on</p>
    <%}%>
    <%if(data[0].value==='pin1off'){%>
        <p id='pin1'>Ph pump is off</p>
    <%}%>

    <p>Water Pump</p>
    <button class="btn btn-default" type="button" id="pin2-on">On</button>
    <button class="btn btn-default" type="button" id="pin2-off">Off</button>
    <%if(data[2].value==='pin2on'){%>
        <p id='pin2'>Water pump is on</p>
    <%}%>
    <%if(data[2].value==='pin2off'){%>
        <p id='pin2'>Water pump is off</p>
    <%}%>

    <p>Automatic</p>
    <button class="btn btn-default" type="button" id="auto-on">On</button>
    <button class="btn btn-default" type="button" id="auto-off">Off</button>
    <%if(data[1].value==='autoon'){%>
        <p id='auto'>Auto is on</p>
        <script type="text/javascript">
            $('#pin1-on, #pin1-off').addClass('disabled');
        </script>
    <%}%>
    <%if(data[1].value==='autooff'){%>
        <p id='auto'>Auto is off</p>
        <script type="text/javascript">
            $('#pin1-on, #pin1-off').removeClass('disabled');
        </script>
    <%}%>

    <p id="ph">ph</p>

    <div id="chart_div"></div>


</html>
